{% extends 'base.html.twig' %}

{% block title %}Address book{% endblock %}
{% block body %}
    <h1>Address book</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    <div class="ui cards">
        {% set contact={'firstName' : 'Steve', 'lastName' : 'Jobs'} %}
        {{ include('contacts/contact-card.html.twig', { 'contact': contact }) }}
        {{ include('contacts/contact-card.html.twig', { 'contact': contact }) }}
    </div>
{% endblock %}
